.page-footer
  +mw(600)
    margin-bottom: 60px

  &__top

    border-top: 1px solid #EEEEF0
    border-bottom: 1px solid #EEEEF0
    background-color: #f8f9fc

.footer-top

  &__inner
    +padding-top(3.5rem)
    +padding-bottom(3.5rem)
    display: flex
    align-items: center
    justify-content: space-between
    background-image: url(/img/footer-bg.png)
    background-repeat: no-repeat
    background-position: center bottom

    +mw(600)
      background-size: 90%

  &__text
    margin-left: 15px
    margin-right: auto
    font-size: 16px

    +mw(600)
      display: none

  &__link
    font-weight: 500
    font-size: 16px
    color: #9374F0

.footer-down
  border-bottom: 1px solid #EEEEF0

  &__inner
    +padding-top(2rem)
    +padding-bottom(2rem)
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    +mw(600)
      flex-direction: column
      align-items: flex-start

  &__copy
    font-size: 16px
    color: #000

    +mw(768)
      margin-bottom: 20px

  &__docs
    flex-grow: 1
    max-width: 600px
    display: flex
    justify-content: space-between
    // order: -1

    +mw(768)
      max-width: none
      width: 100%
      margin-bottom: 20px

    +mw(600)
      flex-direction: column

  &__link
    font-size: 16px
    color: rgba($black, 0.5)

    +mw(600)
      & + a
        margin-top: 20px

.pay
  display: flex
  align-items: center

  &__item

    & +li
      margin-left: 25px

.footer-down
  & .footer-down__inner
    border-top: 1px solid #E0E3EE
  // margin-top: auto
