.prog
  padding-top: 60px

  &__title

  &__inner
    display: flex
    justify-content: space-between

  &__col-left
    flex-grow: 1
    max-width: 680px

  &__col-right
    flex-grow: 1
    max-width: 340px

  &__stat

.office-container

.office-title

.referral

  &__inner

  &__title-text

  &__text

.size-1

.stat

  &__title

  &__ref-link

  &__list

  &__list--vertical

  &__item

  &__term

  &__def

  &__def--time

.stat--vertical
