footer.page-footer
  .page-footer__inner
    .page-footer__top.footer-top
      .footer-top__inner.container
        a.footer-top__logo.logo(href="index.html")
          figure.logo__img-wrap
            +img(`logo`, `png`, `logo`, `logo__img`, `107`)

        p.footer-top__text Обучение криптоинвестированию 

      
        a.footer-top__link.hover-opacity(href="#")
          span.footer-top__link-text.tablet-hidden Войти в личный кабинет
          +svg(`user`, `40`, `#9374F0`)(class="tablet-visibility")

    .page-footer__down.footer-down
      .footer-down__inner.container
        p.footer-down__copy © 2021  «BTC trust»

        .footer-down__docs
          a.footer-down__link.hover-opacity(href="/payment.html" target="_blank") Оплата и возврат
          a.footer-down__link.hover-opacity(href="/offer.html" target="_blank") Договор оферта
          a.footer-down__link.hover-opacity(href="/politics.html" target="_blank") Политика конфиденциальности

        ul.footer-down__pay.pay
          li.pay__item.pay__item--visa
            +img(`visa`, `png`, `платеж`, `pay__img`, `46`)
          li.pay__item.pay__item--mc
            +img(`mc`, `png`, `платеж`, `pay__img`, `32`)
          li.pay__item.pay__item--mir
            +img(`mir`, `png`, `платеж`, `pay__img`, `53`)
        