doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Научим инвестировать в криптовалюты
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="Научим инвестировать в криптовалюты")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Научим инвестировать в криптовалюты")
    meta(property="og:description" content="Научим инвестировать в криптовалюты")
    meta(meta property="og:url" content="Научим инвестировать в криптовалюты")
    meta(property="og:image" content="Научим инвестировать в криптовалюты")

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    link(href="/css/style.min.css" rel="stylesheet")
