header.header(class = document ? 'header--document' : '')
  .header__inner.container
    a.header__logo.logo(href="index.html")
      figure.logo__img-wrap
        //- +img(`logo`, `png`, `logo`, `logo__img`, `107`)
        img.logo__img(src="img/svg/logo-n.svg" width="107" height="20")

    nav.header__nav.nav#main-nav
      ul.nav__list
        li.nav__item
          a.nav__link.nav__link.hover-opacity(href="/exit.html")
            span.nav__link-text.tablet-hidden Войти в личный кабинет
            +svg(`user`, `40`, `#9374F0`)(class="tablet-visibility")

    

    //- a.nav__link.nav__link--open(href="#main-nav") Войти в личный кабинет
    //-         +svg(`menu-open`, `16`, `#47404D`)(class="phone-visibility")
