-const link = [[`Мое обучение`, `/office-my-learn.html`], [`Программы обучения`, ``], [`Вывод вознаграждения`, ``], [`Реферальная программа`, ``]]

.office-body__left.body-asside
    asside.body-asside__box
      a.body-asside__logo(href="/index.html")
        <picture>
          <source srcset="/img/webp/logo-w.webp" type="image/webp"><img class="logo__img" src="/img/logo-w.png" alt="logo" width="107" height="19" loading="lazy">
        </picture>
      nav.body-asside__nav.asside-nav
        ul.asside-nav__list
          each val, i in link
            li.asside-nav__item
              a.asside-nav__link(href=`${val[1]}` class=(active===i+1 ? `asside-nav__link--active` : ``))= val[0]
              //- a.asside-nav__link(href=(active===i+1 ? `#` : href=`${val[1]}`) class=(active===i+1 ? `asside-nav__link--active` : ``))= val[0]