extends ../templates/_office.pug
include ../helpers/mixins.pug

block asside-active
  -const active = 2;

block content
  section.plan.office-container  
    h2.plan__title.office-title Программа: Старт
    
