*,
*::before,
*::after
  box-sizing: inherit

html
  box-sizing: border-box
  // font-size: 16px

  +mw(768)
    // font-size: calc(16px + 6 * ((100vw - 320px) / 680))

body
  color: $text
  width: 100%
  min-height: 100vh
  background-color: $white
  +font(Gilroy)
  line-height: 1.2

  display: flex
  flex-direction: column

  position: relative

a
  text-decoration: none

img
  max-width: 100%
  height: auto

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul
  margin: 0

ul
  padding-left: 0

li
  list-style: none

input,
textarea,
button,
select,
a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

fieldset
  padding: 0
  border: none

button,
input,
a

  &:focus
    outline: none

button
  padding: 0
  border: none

.size-1
  // font-size: rem(18)
  +font-size(1.125rem)
  // line-height: rem(24)

.size-2
  // font-size: rem(42)
  +font-size(2.625rem)
  // line-height: rem(28)

.size-3
  // font-size: rem(24)
  // line-height: rem(28)

.size-4
  // font-size: rem(42)
  // line-height: rem(44)

.container
  max-width: 1220px
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px

  +mw(1210)
    // margin-left: 20px
    // margin-right: 20px

.hover-opacity
  transition: 0.2s

  &:hover
    opacity: 0.5

.tablet-visibility
  display: none

  +mw(768)
    display: block

.tablet-hidden

  +mw(768)
    display: none

.phone-visibility
  display: none

  +mw(600)
    display: block

.phone-hidden

  +mw(600)
    display: none

*
  outline: 1px solid tomato
